<nav class="navbar bg-body-tertiary">
    <form class="container-fluid justify-content-end">
      <a href="/logout" class="btn btn-danger btn-lg" message="username">Sign out</a>
    </form>
  </nav>